{% extends 'base.html' %}

{% block content %}

<div class="col-md-6">
  <h4>Cadastre o professor:</h4>
</div>
<div>
  <form class="post-form" action="" method="post">
    {% csrf_token %}
    <div class="row">
      <div class="col-25">
        <label for="nome">Nome</label>
      </div>
      <div>
        <input type="text" id="nome" name="nome">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="endereco">Endereço</label>
      </div>
      <div>
        <input type="text" id="endereco" name="endereco">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="telefone">Telefone</label>
      </div>
      <div>
        <input type="text" id="telefone" name="telefone">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="data_nascimento">Data de Nascimento</label>
      </div>
      <div>
        <input type="date" id="data_nascimento" name="data_nascimento">
        <span class="validity"></span>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="matricula">Matrícula</label>
      </div>
      <div>
        <input type="text" id="matricula" name="matricula">
      </div>
    </div>
    <div class="row">
      <input type="submit" value="Salvar">
    </div>
  </form>
</div>

{% endblock %}